{erl_opts, [no_debug_info, warnings_as_errors]}.
{relx, [
    {release, {linalg_ruslin, "0.1.0"}, [
      erbloom
    ]},
    {dev_mode, true},
    {include_src, false},
    {include_erts, false},
    {extended_start_script, true},
    {vm_args, "config/vm.args"},
    {sys_config, "config/sys.config"}
]}.
{relx, [{dev_mode, false}, {include_erts, true}, {include_src, false}]}.
{pre_hooks, [
  {compile, "cargo build --manifest-path=crates/ruslin/Cargo.toml --release"},
  {compile, "sh -c \"cp crates/ruslin/target/release/libruslin.so ./priv/\""}
]}.
